@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Navigation Bar*/
.classListNavBar {
  filter: blur(0px);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 0px 10px #eeeeee;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
}
.classListNavHeader {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
/* .classListSectionhamburgerNav {
} */

.classListHamburger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  transition: all 250ms ease-in-out;
  padding: 8px;
}

.classListHamburgerClose {
  z-index: 100;
  position: absolute;
  top: 2.4%;
  right: 6%;
  cursor: pointer;
  padding: 8px;
}

.classListHamburgerLineOne,
.classListHamburgerLineTwo,
.classListHamburgerLineThree {
  display: block;
  background: #454545;
  height: 0.125em;
  width: 1.2em;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.classListHamburgerLineOne {
  transform: translateY(-3px);
}

.classListHamburgerLineTwo {
  transform: translateY(0px);
}

.classListHamburgerLineThree {
  transform: translateY(3px);
}

.classListHamburgerOpen .classListHamburgerLineOne,
.classListHamburgerOpen .classListHamburgerLineTwo,
.classListHamburgerOpen .classListHamburgerLineThree {
  background: transparent;
}

.classListNavBarSlider {
  height: 100vh;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #9d9d9d;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classListNavBarSliderSlide {
  transform: scale(1, 1);
  transition: all 250ms ease-in-out;
}

.classListNavBarBanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classListNavBarBannerImg {
  z-index: 1;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 70px;
}

.classListNavBarBannerImg img {
  height: 100%;
  width: 100%;
}

.classListNavBarBannerHeader {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  padding: 0;
}

.classListNavBarBannerHeader p {
  margin: 0;
  padding: 0;
}

.classListNavBarNavList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.classListNavBarNavList ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.classListNavBarNavList ul li {
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
  transition: all 250ms ease-in;
  color: #454545;
}

.classListNavBarNavList ul li:hover {
  background-color: #f5f5f5;
  color: #000000;
}

.EditBarMain {
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4885ed;
}

.EditBarBgShapeLeft,
.EditBarBgShapeRight {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms ease;
}

.EditBarBgShapeLeft {
  margin-left: 20px;
}
.EditBarBgShapeRight {
  margin-right: 20px;
}
.EditBarBgShapeRightActive {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.EditBarBgShapeRightActive .editBarDelBtnIcon {
  color: #4885ed;
}
.EditBarBgShapeMid {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.editBarAddBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  height: 46px;
  width: 46px;
  border-radius: 50px;
  background-color: #ea3c53;
  transition: all 250ms ease;
}

.editBarAddBtnIcon {
  color: #ffffff;
  font-size: 18px;
  transition: all 250ms ease;
}

.editBarEditBtnIcon {
  color: #ffffff;
}

.editBarDelBtnIcon {
  color: #ffffff;
}

.rotate {
  font-size: 22px;
  transform: rotate(135deg);
}

/*Add Classroom Main*/
.quesCardsMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 50ms ease-in-out;
}
.bgBlurCardList {
  display: none;
}
.unscroll {
  display: block;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.visible {
  transform: scale(1);
  visibility: visible;
  transition: all 250ms ease-in-out;
}

.quesCardOne,
.quesCardTwo,
.quesCardThree {
  z-index: 1000;
  display: block;
  border-radius: 10px;
  max-width: 350px;
  padding: 25px 30px;
  background-color: #3b75f3;
  text-align: center;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.hide {
  display: none;
}

.quesCardOne p,
.quesCardTwo p,
.quesCardThree p {
  margin: 0;
  padding: 0 10px;
}

.queCardOneForm,
.queCardTwoForm,
.queCardThreeForm {
  display: block;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collegeListDropdown,
.SubjectNameDropdown {
  width: 150px;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  margin-right: 10px;
}

.SemesterListDropdown,
.DivisionListDropdown,
.ShiftListDropdown {
  width: 70px;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: 10px;
}

.queCardOnebtn,
.queCardTwobtn,
.queCardThreebtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}

.queCardOnebtnIcon,
.queCardTwobtnIcon,
.queCardThreebtnIcon {
  font-size: 16px;
  color: #454545;
}

.queCardThreebtn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 0px;
  background-color: #ea3c53;
  margin-left: auto;
  margin-right: auto;
}

.queCardThreebtnIcon {
  color: #fff;
  font-size: 18px;
}

/*Class List Section*/

.classListSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.classCardMainFacStuSection {
  filter: blur(0px);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  width: 100vw;
  margin-top: 52px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 150ms ease-in-out;
}

.blur {
  filter: blur(6px);
  z-index: -1;
  transition: all 250ms ease-in-out;
}

/*To hide the scrollbar - Second Technique Hahahahahahahaha*/
.classCardMainFacStuSection::-webkit-scrollbar {
  display: none;
}

.classCardMain {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88vw;
  height: 110px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0px 6px #eceaea;
  text-align: center;

  /* background-color: #efeefd; */
}

.classCardMainSideStraps {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  background-color: #4885ed;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 150ms ease-in-out;
  transform-origin: left;
}

.classCardMainSideStrapsDelete {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  background-color: #ea3c53;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 150ms ease-in-out;
  transform-origin: left;
}

.strapsSlide {
  cursor: default;
  width: 100%;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
  transform-origin: left;
}

.strapsSlideDelete {
  cursor: default;
  width: 100%;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
  transform-origin: left;
}

.classCardMainSideStrapsDeleteBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classCardMainSideStrapsDeleteBtn:hover {
  background-color: #ffffff;
  transition: all 250ms ease-in-out 0ms;
  color: #ea3c53;
}

.classCardMainSideStrapsGenerateBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  width: 210px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classCardMainSideStrapsGenerateBtnRandom {
  width: 160px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 18px;
}
.showStrapsBtn {
  visibility: visible;
  opacity: 1;
  transition: all 250ms ease-in-out 300ms;
}

.hideStrapsBtn {
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

.classCardMainSideStrapsGenerateBtnRandomAgain,
.classCardMainSideStrapsGenerateBtnRandomNext {
  cursor: pointer;
  width: 35px;
  height: 25px;
  border-radius: 5px;
}

.classCardMainSideStrapsGenerateBtnRandomNext {
  height: 84%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.3%;
  background-color: #ea3c53;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classCardMainSideStrapsGenerateBtnRandomAgain {
  height: 84%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.3%;
  background-color: #3b75f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classCardMainSideStrapsGenerateBtnRandomAgainIcon,
.classCardMainSideStrapsGenerateBtnRandomNextIcon {
  color: #fff;
  font-weight: 700;
}

.classCardMainInfoSubParagraph {
  margin: 0;
  padding: 0;
}

.classCardMainInfoDeptParagraph {
  text-transform: lowercase;
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

.classCardMainInfoDeptParagraph::first-letter {
  text-transform: uppercase;
}

.classCardMainInfoSDShiftParagraph {
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

@media screen and (min-width: 550px) {
  .classRoomSectionMain {
    overflow-y: hidden;
    box-shadow: 0px 0px 8px #eeeeee;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
  }

  .classListSection,
  .quesCardsMain {
    height: 100%;
  }

  .classListNavBarSlider {
    height: 90vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .EditBarMain,
  .classListSection,
  .classListNavBar,
  .bgBlurCardList,
  .quesCardsMain {
    width: 380px;
  }

  .classListNavBar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
  }

  .classCardMain {
    width: 340px;
  }
}
